.title       { color:#939393; font-weight:800; float: left; width: 90px;}
.text        { float: left; width: 80%}
.symptoms { background-color: #FFDC00;}
.medications  { background-color:#FF851B;}
.diseases     { background-color:#01FF70;}
.procedures   { background-color:#7FDBFF;}
.labs         { background-color:#F012BE;}
