a.ttt{
  color: white;
}

body.noscroll{
    position:fixed;
    overflow:hidden;
}

/* Tooltip container */
.ttooltip {
  position: relative;
  display: inline-block; 
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.ttooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  bottom: 100%;
  left: 50%;
  margin-left: -80px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.ttooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ttooltip:hover .tooltiptext {
  visibility: visible;
}

.title       { color:#939393; font-weight:800; float: left; width: 90px;}
.text        { float: left; width: 80%}

.left {
    float: left;
    width: 40%;
    height: 100%;
    overflow-y:auto;
}

.left-sub {
    margin-top: 20px;
    margin-left: 8%;
    width: 90%;
}

.right {
    margin-top: 20px;
    margin-left: 40%;
    height: 100%;
   /* overflow-y:auto; */
}
/* Sticky header  */

/*necessary for scroll*/
div.body_scroll {
    height: 95%;
    overflow-y: auto; 
}

/*everything that follows is just to help the eye identify the table elements*/



table{
    border-radius:5px;  -webkit-border-radius:5px; border-collapse: collapse;}

table thead{
  overflow-y: hidden; 
  font-weight:bold;
  border-radius: 5px;  -webkit-border-radius:5px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #efefef 58%, #e6e7e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(58%,#efefef), color-stop(100%,#e6e7e8));
  background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 58%,#e6e7e8 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#efefef 58%,#e6e7e8 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#efefef 58%,#e6e7e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e7e8',GradientType=0 );
  background: linear-gradient(top, #ffffff 0%,#efefef 58%,#e6e7e8 100%);

}
/*
  table thead th{
  position:relative;
  padding:10px 15px;
  font-size:18px;
  text-shadow:0 1px 0 #fff;
  line-height:15px;
  vertical-align:bottom;
  border-right:1px solid #ccc;
  font-weight:normal;
  text-align:left;}

table thead th:first-child:before{
  content:" ";
  position:absolute;
  top:-1px; left:-1px;
  width:15px; height:15px;
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  -webkit-border-radius:5px 0px 0px;}

table thead th {
    overflow-y: hidden; 
    font-weight:bold;
}
*/
table.header_table{
    border-radius: 20px  20px 0px 0px;
    background: #73AD21;
    display:inline-block;
    width: 100%;
}

th, td {
  // padding:2px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #262626;
  line-height: 1.2;
  font-weight: unset !important;

  border: 1px solid #565656;
  padding-top: 10px;
  padding-bottom: 10px;
}

th {
    cursor: pointer;
}
